.hotGingerSection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .hotGingerSection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .hotGingerSection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .hotGingerSection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .hotGingerBox {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    .hotGingerBox {
        padding-left: 60px;
    }
}

.hotGingerImg {
    width: 384px;
    margin-top: 30px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
    .hotGingerImg {
        width: 512px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .hotGingerImg {
        width: 550px;
        margin-right: 120px;
    }
}

@media only screen and (min-width: 768px) {
    .hotGingerWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .hotGingerWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .hotGingerWrapper {
        width: 100%;
    }
}

.hotGingerTitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .hotGingerTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .hotGingerTitle {
        font-size: 36px;
    }
}

.hotGingerSubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .hotGingerSubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .hotGingerSubtitle {
        font-size: 22px;
    }
}

.hotGingerText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .hotGingerText {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .hotGingerText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .hotGingerText {
        font-size: 21px;
    }
}

.hotGingerItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .hotGingerItem:not(:last-child) {
        margin-bottom: 5px;
    }
}

.hotGingerItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .hotGingerItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .hotGingerItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .hotGingerItemText {
        font-size: 21px;
    }
}