.batikCollectionSection {
    margin-bottom: 100px;
}
@media only screen and (min-width: 768px) {
    .batikCollectionSection {
        margin-top: 190px;
    }
}

@media only screen and (min-width: 1024px) {
    .batikCollectionSection {
        margin-top: 240px;
    }
}
.mainBatikCollectionSection {
    background-image: url(../../images/batik/batik-classic-bgd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 50px;
    padding-bottom: 92px;
    margin-bottom: 75px;
}
.batikCollectionMainTitle {
    font-size: 43px;
    line-height: 1.1;
    color: #FFFFFF;
    font-weight: 400;

    margin-bottom: 40px;
    padding-left: 30px;
}
.batikCollectionText {
    /* text-align: justify; */
    font-size: 16px;
    line-height: 2.06;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    padding-left: 10px;
    padding-right: 10px;
}
.batikCollectionHeroWpap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.batikCollectionItem {
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.batikCollectionItem:not(:last-child) {
    margin-bottom: 50px
}
.batikCollectionOverlayWrap {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #E6E6E6D9;
    color: #646464;
    
    padding: 15px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    
    overflow: auto;
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.batikCollectionOverlayWrap:hover .overlay {
    transform: translateY(0);
}