@media only screen and (min-width: 768px) {
    .batikSection {
        margin-top: 190px;
    }
}

@media only screen and (min-width: 1024px) {
    .batikSection {
        margin-top: 240px;
    }
}
.mainBatikSection {
    background-image: url(../../images/batik/batik-main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 30px;
    padding-bottom: 92px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .mainBatikSection {
        padding-bottom: 0px;
        margin-bottom: 60px;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .mainBatikSection {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media only screen and (min-width: 1440px) {
    .mainBatikSection {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
.batikMainTitle {
    display: none;
}
@media only screen and (min-width: 768px) {
    .batikLogoTextWrap {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .batikLogoTextWrap {
        padding-left: 85px;
    }
}
@media only screen and (min-width: 768px) {
    .batikLogoImg {
        width: 230px;
    }
}

@media only screen and (min-width: 1024px) {
    .batikLogoImg {
        width: 338px;
        margin-right: 50px;
    }
}
@media only screen and (min-width: 1024px) {
    .batikArticle {
        max-width: 850px;
    }
}

@media only screen and (min-width: 1440px) {
    .batikArticle {
        max-width: 730px;
    }
}
.batikText {
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 1024px) {
    .batikText {
        font-size: 21px;
        line-height: 1.4;
    }
}
.batikSlogan {
    max-width: 100%;
    box-sizing: border-box;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 1024px) {
    .batikSlogan {
        font-size: 21px;
        line-height: 1.4;
    }
}
.collectionImg {
    margin-bottom: 50px;
}
.batikTitle {
    text-align: center;
    color: #423930;
    font-size: 30px;
    line-height: 1.47;
    font-weight: 400;

    margin-bottom: 35px;
}

@media only screen and (min-width: 768px) {
    .batikTitle {
        font-size: 35px;
        line-height: 1.26;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .batikTitle {
        font-size: 36px;
    }
}
.batikDescription {
    font-size: 15px;
    text-align: justify;
    color: #888888;
    font-weight: 400;
    line-height: 1.6;

    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .batikDescription {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .batikDescription {
        font-size: 21px;
        margin-bottom: 31px;
        max-width: 750px;
    }
}
.batikBtn {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 2.56px;
    text-transform: uppercase;

    text-decoration: none;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    padding: 10px 45px;

    background-color: #FFFFFF;
    color: #000000;

    max-width: 250px;

    transition: all 0.3s cubic-bezier(0.5, 0.12, 0.46, 0.88);
}
.batikCollectionSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}
.goldCollectionImg {
    margin-bottom: 50px;
}
.batikGoldSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 120px;
}
@media only screen and (min-width: 768px) {
    .collectionWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .goldCollectionWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        }

    .collectionImg {
        flex: 1;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 400px;
    }

    .batikCollectionSectionWrapper {
        flex: 1;
    }
        .batikGoldSectionWrapper {
            flex: 1;
        }

}
@media only screen and (min-width: 1024px) {
    .collectionWrapper {
        flex-direction: row-reverse;
       
    }

    .collectionImg{
        max-height: 620px;
        margin-bottom: 0;
        object-fit: contain;
    }
}