.navigationBtn {
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.iconMenu{
    color: rgb(128, 128, 128);
    width: 30px;
    height: 32px;
}
.navSection {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
    .navSection {
        display: none;
    }
}