.brandsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1024px) {
    .brandsSection {
        background-image: url(../../images/brandsBG.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right;
        background-attachment: fixed;

        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media only screen and (min-width: 1024px) {
    .brandsSectionWrapper {
        display: flex;
        flex-direction: column;
    }
}

.title {
    font-weight: 400;
    color: #474249;
    font-size: 35px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1440px) {
    .title {
        font-size: 48px;
    }
}

@media only screen and (min-width: 768px) {
    .brandsList {
        display: flex;
        animation: slideIn 1.25s ease-in-out;
    }
}

@media only screen and (min-width: 768px) {
    .brandsImg {
        display: block;
        width: 1200px;
        transition: transform 0.3s ease-in-out;
    }
}
.brandsItem:hover .brandsImg {
    transform: scale(1.1);
}
