.lovelyMelissaSection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .lovelyMelissaSection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .lovelyMelissaSection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .lovelyMelissaSection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .lovelyMelissaBox {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    .lovelyMelissaBox {
        padding-left: 60px;
    }
}

.lovelyMelissaImg {
    width: 384px;
    margin-top: 30px;
}

@media only screen and (min-width: 1024px) {
    .lovelyMelissaImg {
        width: 512px;
        margin-right: 30px;
    }
}

@media only screen and (min-width: 1440px) {
    .lovelyMelissaImg {
        width: 550px;
        margin-left: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .lovelyMelissaWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .lovelyMelissaWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .lovelyMelissaWrapper {
        width: 100%;
    }
}

.lovelyMelissaTitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .lovelyMelissaTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .lovelyMelissaTitle {
        font-size: 36px;
    }
}

.lovelyMelissaSubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .lovelyMelissaSubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .lovelyMelissaSubtitle {
        font-size: 22px;
    }
}

.lovelyMelissaText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .lovelyMelissaText {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .lovelyMelissaText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .lovelyMelissaText {
        font-size: 21px;
    }
}

.lovelyMelissaItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .lovelyMelissaItem:not(:last-child) {
        margin-bottom: 5px;
    }
}

.lovelyMelissaItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .lovelyMelissaItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .lovelyMelissaItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .lovelyMelissaItemText {
        font-size: 21px;
    }
}