.link {
    display: inline-flex;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: 2.56px;
}

.link:hover {
    color: orangered;
    text-decoration: underline;
}

.active {
    color: red;
}

.navigation {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
display: flex;
flex-direction: column;
}

.navVision {
    display: none;
}
.menuContainer{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 20;
}

