.krupnyiLystOPASection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .krupnyiLystOPASection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .krupnyiLystOPASection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .krupnyiLystOPASection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}
@media only screen and (min-width: 768px) {
    .krupnyiLystOPABox {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    .krupnyiLystOPABox {
        padding-left: 60px;
    }
}
.krupnyiLystOPAImg {
    width: 384px;
    margin-top: 30px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
    .krupnyiLystOPAImg {
        width: 512px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .krupnyiLystOPAImg {
        width: 550px;
        margin-right: 120px;
    }
}
@media only screen and (min-width: 768px) {
    .krupnyiLystOPAWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .krupnyiLystOPAWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .krupnyiLystOPAWrapper {
        width: 100%;
    }
}
.krupnyiLystOPATitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .krupnyiLystOPATitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .krupnyiLystOPATitle {
        font-size: 36px;
    }
}
.krupnyiLystOPASubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .krupnyiLystOPASubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .krupnyiLystOPASubtitle {
        font-size: 22px;
    }
}
.krupnyiLystOPAText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .krupnyiLystOPAText {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .krupnyiLystOPAText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .krupnyiLystOPAText {
        font-size: 21px;
    }
}
.krupnyiLystOPAItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .krupnyiLystOPAItem:not(:last-child) {
        margin-bottom: 5px;
    }
}

.krupnyiLystOPAItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .krupnyiLystOPAItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .krupnyiLystOPAItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .krupnyiLystOPAItemText {
        font-size: 21px;
    }
}