.zelenyiMokhitoSection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .zelenyiMokhitoSection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .zelenyiMokhitoSection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .zelenyiMokhitoSection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}
@media only screen and (min-width: 768px) {
    .zelenyiMokhitoBox {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    .zelenyiMokhitoBox {
        padding-left: 60px;
    }
}
.zelenyiMokhitoImg {
    width: 384px;
    margin-top: 30px;
}

@media only screen and (min-width: 1024px) {
    .zelenyiMokhitoImg {
        width: 512px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .zelenyiMokhitoImg {
        width: 550px;
        margin-right: 120px;
    }
}
@media only screen and (min-width: 768px) {
    .zelenyiMokhitoWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .zelenyiMokhitoWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .zelenyiMokhitoWrapper {
        width: 100%;
    }
}
.zelenyiMokhitoTitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .zelenyiMokhitoTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .zelenyiMokhitoTitle {
        font-size: 36px;
    }
}
.zelenyiMokhitoSubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .zelenyiMokhitoSubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .zelenyiMokhitoSubtitle {
        font-size: 22px;
    }
}
.zelenyiMokhitoText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .zelenyiMokhitoText {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .zelenyiMokhitoText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .zelenyiMokhitoText {
        font-size: 21px;
    }
}
.zelenyiMokhitoItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .zelenyiMokhitoItem:not(:last-child) {
        margin-bottom: 5px;
    }
}

.zelenyiMokhitoItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .zelenyiMokhitoItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .zelenyiMokhitoItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .zelenyiMokhitoItemText {
        font-size: 21px;
    }
}