.ourAchievementsSection {
    padding-top: 50px;
    margin-bottom: 42px;   
}
@media only screen and (min-width: 768px) {
    .ourAchievementsSection {
        padding-top: 170px;
    }
}
.ourAchievementsMainImg {
    margin-bottom: 30px;
}  

.ourAchievementsTitle {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    color: #423930;

    margin-bottom: 27px;
}
@media only screen and (min-width: 768px) {
    .ourAchievementsTitle {
        font-size: 38px;
        text-align: center;
        margin-bottom: 30px;
    }
}
.ourAchievementsText {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #888888;
    font-weight: 400;

    margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
    .ourAchievementsText {
        font-size: 18px;
    }
}
.ourAchievementsText2 {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #888888;
    font-weight: 400;

    margin-bottom: 46px;
}
@media only screen and (min-width: 768px) {
    .ourAchievementsText2 {
        font-size: 18px;
    }
}
.ourAchievementsBox {
    padding-left: 16px;
    padding-right: 16px;
}

.ourAchievementsSubTitle {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: #888888;
    font-weight: 400;

    margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
    .ourAchievementsSubTitle {
        font-size: 18px;
    }
}
.ourAchievementsListtext {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #888888;
    font-weight: 400;    
}
@media only screen and (min-width: 768px) {
    .ourAchievementsListtext {
        font-size: 18px;
    }
}
.ourAchievementsList {
    margin-bottom: 16px;
}
.ourAchievementsDescription {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #888888;
    font-weight: 400;

    margin-bottom: 46px;
}
@media only screen and (min-width: 768px) {
    .ourAchievementsDescription {
        font-size: 18px;
    }
}
.ourAchievementsImgListItem:not(:last-child) {
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .ourAchievementsImgList {
        margin-bottom: 100px;
    }
}
@media only screen and (min-width: 768px) {
    .ourAchImgListItemBox1 {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;

        column-gap:20px;
    }    
}
@media only screen and (min-width: 768px) {
    .firstItemClass {
        width: calc(65% - 13px);
        flex-shrink: 0;
    }
    .secondItemClass {
        width: calc(35% - 7px);
        flex-shrink: 0;
    }
}
@media only screen and (min-width: 768px) {
    .ourAchImgListItemBox2 {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
    
            column-gap: 20px;
        }
}
@media only screen and (min-width: 768px) {
    .thirdItemClass {
        width: calc(30% - 13px);
        flex-shrink: 0;
    }

    .fourthItemClass {
        width: calc(70% - 7px);
        flex-shrink: 0;
    }
}
@media only screen and (min-width: 768px) {
    .ourAchievementsArticle::after {
        content: "";
        width: 100%;
        border: 1px solid #ebeced;
        margin-bottom: 30px;
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .ourAchievementsArticle::after {
        margin-bottom: 100px;
    }
}