.korolivskyiStandart100TBSection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .korolivskyiStandart100TBSection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .korolivskyiStandart100TBSection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .korolivskyiStandart100TBSection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}
@media only screen and (min-width: 768px) {
    .korolivskyiStandart100TBBox {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    .korolivskyiStandart100TBBox {
        padding-left: 60px;
    }
}
.korolivskyiStandart100TBImg {
    width: 384px;
    margin-top: 30px;
}

@media only screen and (min-width: 1024px) {
    .korolivskyiStandart100TBImg {
        width: 512px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .korolivskyiStandart100TBImg {
        width: 550px;
        margin-right: 120px;
    }
}
@media only screen and (min-width: 768px) {
    .korolivskyiStandart100TBWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .korolivskyiStandart100TBWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .korolivskyiStandart100TBWrapper {
        width: 100%;
    }
}
.korolivskyiStandart100TBTitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .korolivskyiStandart100TBTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .korolivskyiStandart100TBTitle {
        font-size: 36px;
    }
}
.korolivskyiStandart100TBSubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .korolivskyiStandart100TBSubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .korolivskyiStandart100TBSubtitle {
        font-size: 22px;
    }
}
.korolivskyiStandart100TBText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .korolivskyiStandart100TBText {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .korolivskyiStandart100TBText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .korolivskyiStandart100TBText {
        font-size: 21px;
    }
}
.korolivskyiStandart100TBItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .korolivskyiStandart100TBItem:not(:last-child) {
        margin-bottom: 5px;
    }
}
.korolivskyiStandart100TBItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .korolivskyiStandart100TBItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .korolivskyiStandart100TBItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .korolivskyiStandart100TBItemText {
        font-size: 21px;
    }
}
