.brightNightSection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .brightNightSection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .brightNightSection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .brightNightSection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .brightNightBox {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    .brightNightBox {
        padding-left: 60px;
    }
}

.brightNightImg {
    width: 384px;
    margin-top: 30px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
    .brightNightImg {
        width: 512px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .brightNightImg {
        width: 550px;
        margin-right: 120px;
    }
}

@media only screen and (min-width: 768px) {
    .brightNightWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .brightNightWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .brightNightWrapper {
        width: 100%;
    }
}

.brightNightTitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .brightNightTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .brightNightTitle {
        font-size: 36px;
    }
}

.brightNightSubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .brightNightSubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .brightNightSubtitle {
        font-size: 22px;
    }
}

.brightNightText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .brightNightText {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .brightNightText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .brightNightText {
        font-size: 21px;
    }
}

.brightNightItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .brightNightItem:not(:last-child) {
        margin-bottom: 5px;
    }
}

.brightNightItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .brightNightItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .brightNightItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .brightNightItemText {
        font-size: 21px;
    }
}