.vysokohirnyi250muSection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .vysokohirnyi250muSection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .vysokohirnyi250muSection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .vysokohirnyi250muSection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}
@media only screen and (min-width: 768px) {
    .vysokohirnyi250muBox {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    .vysokohirnyi250muBox {
        padding-left: 60px;
    }
}
.vysokohirnyi250muImg {
    width: 384px;
    margin-top: 30px;
}

@media only screen and (min-width: 1024px) {
    .vysokohirnyi250muImg {
        width: 512px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .vysokohirnyi250muImg {
        width: 550px;
        margin-right: 120px;
    }
}
@media only screen and (min-width: 768px) {
    .vysokohirnyi250muWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .vysokohirnyi250muWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .vysokohirnyi250muWrapper {
        width: 100%;
    }
}
.vysokohirnyi250muTitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .vysokohirnyi250muTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .vysokohirnyi250muTitle {
        font-size: 36px;
    }
}
.vysokohirnyi250muSubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .vysokohirnyi250muSubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .vysokohirnyi250muSubtitle {
        font-size: 22px;
    }
}
.vysokohirnyi250muText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .vysokohirnyi250muText {
        font-size: 16px;

        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .vysokohirnyi250muText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .vysokohirnyi250muText {
        font-size: 21px;
    }
}
.vysokohirnyi250muItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .vysokohirnyi250muItem:not(:last-child) {
        margin-bottom: 5px;
    }
}
.vysokohirnyi250muItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .vysokohirnyi250muItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .vysokohirnyi250muItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .vysokohirnyi250muItemText {
        font-size: 21px;
    }
}