.emotionEarlGraySection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .emotionEarlGraySection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .emotionEarlGraySection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .emotionEarlGraySection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .emotionEarlGrayBox {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    .emotionEarlGrayBox {
        padding-left: 60px;
    }
}

.emotionEarlGrayImg {
    width: 384px;
    margin-top: 30px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
    .emotionEarlGrayImg {
        width: 512px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .emotionEarlGrayImg {
        width: 550px;
        margin-right: 120px;
    }
}

@media only screen and (min-width: 768px) {
    .emotionEarlGrayWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .emotionEarlGrayWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .emotionEarlGrayWrapper {
        width: 100%;
    }
}

.emotionEarlGrayTitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .emotionEarlGrayTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .emotionEarlGrayTitle {
        font-size: 36px;
    }
}

.emotionEarlGraySubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .emotionEarlGraySubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .emotionEarlGraySubtitle {
        font-size: 22px;
    }
}

.emotionEarlGrayText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .emotionEarlGrayText {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .emotionEarlGrayText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .emotionEarlGrayText {
        font-size: 21px;
    }
}

.emotionEarlGrayItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .emotionEarlGrayItem:not(:last-child) {
        margin-bottom: 5px;
    }
}

.emotionEarlGrayItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .emotionEarlGrayItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .emotionEarlGrayItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .emotionEarlGrayItemText {
        font-size: 21px;
    }
}