.cashbackSection {
    padding-top: 30px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .cashbackSection {
        padding-top: 170px;
    }
}

@media only screen and (min-width: 1024px) {
    .cashbackSection {
        padding-top: 190px;
    }
}

.cashbackTitle {
    color: #474249;
    font-size: 33px;
    font-weight: 400;
    line-height: 1.2;
    /* display: ruby; */
    text-align: center;

    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .cashbackTitle {
        font-size: 40px;
        text-align: left;
    }
}
@media only screen and (min-width: 1024px) {
    .cashbackTitle {
        margin-bottom: 40px;
        font-size: 48px;
    }
}
.cashbackSvg {
    width: 28px;
}

.cashbackImg {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .cashbackImg {
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 1440px) {
    .cashbackImg {
        width: 1120px;
    }
}
.textSvg {
    width: 18px;
}

.cashbackList {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 768px) {
    .cashbackList {
        margin-bottom: 100px;
    }
}
@media only screen and (min-width: 1440px) {
    .cashbackList {
        width: 1120px;
    }
}
.cashbackArticle {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 1024px) {
    .cashbackArticle {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .cashbackArticle::after {
        content: "";
        width: 100%;
        border: 1px solid #ebeced;
        margin-bottom: 30px;
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .cashbackArticle::after {
        margin-bottom: 100px;
    }
}

.cashbackText {
    text-align: justify;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
}
@media only screen and (min-width: 768px){
    .cashbackText {
        font-size: 18px;
    }
}
.cashbackItem {
    margin-bottom: 18px;
}

.cashbackItem:last-child {
    margin-bottom: 0;
}