.tseilonskyiVysokohirnyiSection {
    margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
    .tseilonskyiVysokohirnyiSection {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    .tseilonskyiVysokohirnyiSection {
        margin-top: 180px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .tseilonskyiVysokohirnyiSection {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}
@media only screen and (min-width: 768px) {
    .tseilonskyiVysokohirnyiBox {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 1440px) {
    .tseilonskyiVysokohirnyiBox {
        padding-left: 60px;
    }
}
.tseilonskyiVysokohirnyiImg {
    width: 384px;
    margin-top: 30px;
}

@media only screen and (min-width: 1024px) {
    .tseilonskyiVysokohirnyiImg {
        width: 512px;
        margin-right: 30px;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 1440px) {
    .tseilonskyiVysokohirnyiImg {
        width: 550px;
        margin-left: 30px;
    }
}
@media only screen and (min-width: 768px) {
    .tseilonskyiVysokohirnyiWrapper {
        width: 384px;
    }
}

@media only screen and (min-width: 1024px) {
    .tseilonskyiVysokohirnyiWrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .tseilonskyiVysokohirnyiWrapper {
        width: 100%;
    }
}
.tseilonskyiVysokohirnyiTitle {
    font-size: 22px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .tseilonskyiVysokohirnyiTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1440px) {
    .tseilonskyiVysokohirnyiTitle {
        font-size: 36px;
    }
}
.tseilonskyiVysokohirnyiSubtitle {
    font-size: 17px;
    color: #474249;
    font-style: italic;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
    .tseilonskyiVysokohirnyiSubtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .tseilonskyiVysokohirnyiSubtitle {
        font-size: 22px;
    }
}
.tseilonskyiVysokohirnyiText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .tseilonskyiVysokohirnyiText {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .tseilonskyiVysokohirnyiText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .tseilonskyiVysokohirnyiText {
        font-size: 21px;
    }
}
.tseilonskyiVysokohirnyiItem:not(:last-child) {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .tseilonskyiVysokohirnyiItem:not(:last-child) {
        margin-bottom: 5px;
    }
}

.tseilonskyiVysokohirnyiItemText {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    color: #888888;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .tseilonskyiVysokohirnyiItemText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .tseilonskyiVysokohirnyiItemText {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1440px) {
    .tseilonskyiVysokohirnyiItemText {
        font-size: 21px;
    }
}