.usefulToKnowMainTitle {
    display: none;
}
.usefulToKnowSection {
    padding-top: 70px;
    margin-bottom: 70px;
}
@media only screen and (min-width: 768px) {
    .usefulToKnowSection {
        padding-top: 190px;
    }
}
.usefulToKnowList {
    padding-left: 25px;
    padding-right: 25px;
    }
@media only screen and (min-width: 768px) {
    .usefulToKnowList {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    }
}

.usefulToKnowItem {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    padding-bottom: 20px;

    
}
@media only screen and (min-width: 768px) {
    .usefulToKnowItem {
        width: 329px;
    }
}
@media only screen and (min-width: 1024px) {
.usefulToKnowItem {
        width: 457px;
    }
}
@media only screen and (min-width: 1440px) {
.usefulToKnowItem {
        width: 440px;
    }
}
.usefulToKnowImageWrapper {
    position: relative;
    display: inline-block;
}

.usefulToKnowImage {
    position: relative;
    z-index: 1;
    width: 100%;
}

.usefulToKnowImageWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .35), transparent 75%);
    z-index: 2;
}
.usefulToKnowTitle {
    margin-top: 40px;
    font-size: 21px;
    line-height: 1.4;
    color: #423930;

    margin-bottom: 25px;

    overflow: hidden;
}
@media only screen and (min-width: 768px) {
    .usefulToKnowTitle {
        min-height: 60px;
    }
}
@media only screen and (min-width: 1024px) {
    .usefulToKnowTitle {
            min-height: 35px;
        }
}
.usefulToKnowText {
    line-height: 1.5em;
    font-size: 14px;
    color: #777;

    margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
    .usefulToKnowText {
        min-height: 125px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1024px) {
    .usefulToKnowText {
        min-height: 100px;
    }
}
.usefulToKnowlink {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    
    cursor: pointer;
}
.usefulToKnowlink::after {
    content: '\00BB';
    font-size: inherit;
    vertical-align: text-bottom;
}
.link {
    text-decoration: none;
    margin-bottom: 20px;
}
.usefulToKnowTextBox {
    padding-left: 30px;
    padding-right: 30px;    
}