  .navigation {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5px;
      column-gap: 15px;
      justify-content: center;
      margin-bottom: 20px;    
  }
    @media only screen and (min-width: 1440px) {
      .navigation {
        column-gap: 25px;
      }
    }
  .navigationItem {
    font-size: 16px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    line-height: 1.6;
    color: #FFFFFF;
    text-decoration: none;
  }
    @media only screen and (min-width: 1440px) {
      .navigationItem {
        font-size: 20px;
      }
    }
  .navigationSvg {
    width: 18px;
    height: 15px;
    fill: #FFFFFF;
  }
  .navWrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navButton {
    background-color: transparent;
    border: none;
  }
    .navigationSvg {
      transition: transform 0.3s ease;
    }
  
    .navigationSvg.open {
      transform: rotate(180deg);
    }