.storesSection {
    padding-top: 50px;
    margin-bottom: 55px;    
}

@media only screen and (min-width: 768px) {
    .storesSection {
        padding-top: 170px;   
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .storesSection {
        padding-top: 230px;
    }
}

@media only screen and (min-width: 1440px) {
    .storesSection {
        padding-top: 250px;
    }
}
.storesMainTitle {
    display: none;
}
.storesTitle {
    font-size: 32px;
    line-height: 1.3;
    color: #423930;
    text-align: center;

margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
    .storesTitle {
        font-size: 36px;
    }
}
.storesListOnline {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .storesListOnline {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 1024px) {
    .storesListOnline {
        margin-bottom: 50px;
    }
}
.storesListOfline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .storesListOfline {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 1024px) {
    .storesListOfline {
        gap: 40px;
    }
}
@media only screen and (min-width: 768px) {
    .storesOflineImg {
        width: 180px;
    }
}
@media only screen and (min-width: 1024px) {
    .storesOflineImg {
            width: 250px;
        }
}
@media only screen and (min-width: 768px) {
    .storesOnlineImg {
        width: 180px;
    }
}
@media only screen and (min-width: 1024px) {
    .storesOnlineImg {
        width: 200px;
    }
}
