
.aboutSection {
    margin-top: 40px;
    margin-bottom: 70px;
}
@media only screen and (min-width: 768px) {
    .aboutSection {
        display: flex;
        padding-top: 170px;
        gap: 20px;
        align-items: center;

        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 1024px) {
    .aboutSection {
        padding-top: 150px;
        align-items: flex-start;
        margin-bottom: 0px;
    }
}
.aboutSectionBGI {
    background-image: url(../../images/aboutUs/aboutUs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 248px;
    margin-bottom: 30px
}
@media only screen and (max-width: 767px) {
.aboutUsImg {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .aboutUsImg {
        width: 385px;
        object-fit: contain;
    }
}
@media only screen and (min-width: 1024px) {
    .aboutUsImg {
        width: 513px;
        margin-bottom: 0px;
    }
}
/************** стилі для AboutUsInformation ***********/
@media only screen and (min-width: 768px) {
    .titleAbout {
        font-size: 38px;
        font-weight: 400;
        line-height: 1;
        color: #423930;

        margin-bottom: 15px;
    }
    .textMainAbout{
        font-size: 15px;
        color: #222222;
        font-weight: 400;
        text-align: justify;

        margin-bottom: 20px;
    }
    .textAbout{
        font-size: 15px;
        text-align: justify;
        color: #888888;
    }
    .aboutWrapper {
        max-width: 325px;
        }
}
@media only screen and (min-width: 1024px) {
    .titleAbout{
        margin-bottom: 25px;
    }
    .aboutWrapper {
        max-width: 452px;
    }
}
/* ********************************************************* */
@media only screen and (min-width: 768px) {
.brandsSection {
        background-image: url(../../images/brands/aboutUs_left.jpg), url(../../images/brands/aboutUs_right.jpg);
        background-repeat: no-repeat;
        background-size: 28%, 30%;
        background-position: top 120px left 0px, top 470px right 0px;
        background-attachment: fixed;

        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media only screen and (min-width: 1024px) {
    .brandsSection {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
