
@media only screen and (min-width: 768px) {
.aboutWrapper {
    padding-left: 10px;
    padding-right: 10px;
}
}
@media only screen and (min-width: 1024px) {
.aboutWrapper {
    max-width: 750px;
    height: 410px;
}
}
.titleAbout {
    font-size: 28px;
    color: #474249;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.5px;   

    margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
    .titleAbout {
        font-size: 40px;
        text-align: center;
    }
}

.textMainAbout{
    font-size: 16px;
    line-height: 1.4;
    color: #474249;
    text-align: justify;
    hyphens: auto;

    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .textMainAbout {
        hyphens: none;
    
    }
}
@media only screen and (min-width: 768px) {
    .textMainAbout {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
    }
}
.textAbout{
    font-size: 17px;
    color: #888888;
    line-height: 1.5;
    text-align: justify;
    hyphens: auto;
}

@media only screen and (min-width: 768px) {
    .textAbout {
        font-size: 20px;
        hyphens: none;
        margin-bottom: 30px;
         }
}
@media only screen and (min-width: 1024px) {
    .textAbout {
        color: #474249;

    }
}
