.pageContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}
.box{
    height: 60px;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .box {
        display: none;
    }
}
.hero {
    background-image: url(../../images/mainBg.jpg);
    background-color: #2a2a2a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.heroInformation {
    margin: 0 auto;
    padding-top: 70px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 131px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
@media only screen and (min-width: 768px) {
    .heroInformation {
        padding-top: 0;
    }
}
.heroBtn{
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 2.56px;
    text-transform: uppercase;

    text-decoration: none;
    border: 1px solid #ffff;
    box-shadow: 3px 3px 0px 0px #FFFFFF;
    padding: 14px 25px;

    color: #FFFFFF;

    max-width: 143px;
}
.mainImg{
    width: 241px;
    margin-bottom: 40px;
}
.aboutLink {
    padding-top: 60px;
    margin-bottom: 17px;
}
@media only screen and (min-width: 768px) {
    .aboutLink {
        padding-top: 0;
        margin-bottom: 0;
    }
}
.historyBox {
padding: 11px 20px;

border: 1px solid #000000;
box-shadow: 3px 3px 0px 0px #000000;
max-width: 182px;
margin: 0 auto;

display: flex;
align-items: center;
justify-content: center;

margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
    .historyBox {
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .historyBox {
        position: absolute;
        bottom: 30px;
        left: 0;
        margin-bottom: 0px;
    }
}
.historyLink{
font-size: 16px;
font-weight: 300;
text-transform: uppercase;
line-height: 1;
letter-spacing: 1.6px;

text-decoration: none;
text-align: center;
color: #474249;
}
.achiev{
    margin-bottom: 65px;
}
@media only screen and (min-width: 768px) {
    .achiev {
        margin-bottom: 5px;
    }
}
.mission{
    background-image: url(../../images/mission.jpg);
    background-color: #2a2a2a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .mission {
margin-bottom: 0px;
    }
}
@media only screen and (min-width: 768px) {
    .mission {
        padding: 30px;
    }
}
.missionImg {
    width: 255px;
}
@media only screen and (min-width: 768px) {
    .missionImg {
        margin-bottom: 20px;
    }
}
.missionBtn {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 2.56px;
    text-transform: uppercase;
    
    text-decoration: none;
    border: 1px solid #ffff;
    box-shadow: 3px 3px 0px 0px #FFFFFF;
    padding: 14px 25px;
    
    color: #FFFFFF;
    
    max-width: 174px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
}
/* @media only screen and (max-width: 1024px) {
.historyBoxWrapper {
    position: relative;
    top: 50%;
    left: 50%;      
    transform: translate(-10%, -50%);
}
} */
@media only screen and (min-width: 768px) {
    .AboutUsAndHistiryWrapper {
        background-image: url(../../images/hands.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        background-attachment: fixed;
        /* min-height: 500px; */
    }
}