.pageContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}
.box{
    height: 60px;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .box {
        display: none;
    }
}
.hero {
    background-image: url(../../images/mainBg.jpg);
    background-color: #2a2a2a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}

.heroInformation {
    margin: 0 auto;
    padding-top: 70px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 131px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
@media only screen and (min-width: 768px) {
    .heroInformation {
        padding-top: 0;
    }
}
@media only screen and (min-width: 1440px) {
    .heroInformation {
        padding-bottom: 250px;
        padding-top: 10px;
    }
}
.heroBtn{
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 2.56px;
    text-transform: uppercase;

    text-decoration: none;
    border: 1px solid #ffff;
    box-shadow: 3px 3px 0px 0px #FFFFFF;
    padding: 14px 25px;

    color: #FFFFFF;

    max-width: 143px;
}
@media only screen and (min-width: 1440px) {
    .heroBtn {
    font-size: 18px;
    max-width: 200px;
    }
}
.mainImg{
    width: 241px;
    margin-bottom: 40px;
}
@media only screen and (min-width: 1440px) {
.mainImg {
    width: 482px;
}
}
.aboutLink {
    padding-top: 30px;
    margin-bottom: 17px;
}
@media only screen and (min-width: 768px) {
    .aboutLink {
        padding-top: 0;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1440px) {
    .aboutLink {
        padding-top: 150px;
    }
}
.historyBox {
padding: 11px 20px;

border: 1px solid #000000;
box-shadow: 3px 3px 0px 0px #000000;
max-width: 182px;
margin: 0 auto;

display: flex;
align-items: center;
justify-content: center;

margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
    .historyBox {
        margin-bottom: 20px;
        margin-left: 10px;   
     }
}
@media only screen and (min-width: 1440px) {
    .historyBox {
        padding: 13px 21px;
        margin-bottom: 100px;
    }
}
.historyLink{
font-size: 16px;
font-weight: 300;
text-transform: uppercase;
line-height: 1;
letter-spacing: 1.6px;

text-decoration: none;
text-align: center;
color: #474249;
}
.achiev{
    margin-bottom: 65px;
}
@media only screen and (min-width: 768px) {
    .achiev {
        margin-bottom: 5px;
    }
}
@media only screen and (min-width: 1024px) {
.achiev {
        margin-bottom: 0px;
    }
}
.mission{
    background-image: url(../../images/mission.jpg);
    background-color: #2a2a2a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .mission {
    margin-bottom: 0px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 70px;
    }
}
@media only screen and (min-width: 1024px) {
    .mission {
    padding-top: 40px;    
    }
}
@media only screen and (min-width: 1440px) {
    .mission {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.missionImg {
    width: 255px;
}
@media only screen and (min-width: 768px) {
    .missionImg {
        margin-bottom: 20px;
        width: 273px;
    }
}
@media only screen and (min-width: 768px) {
    .missionImg {
        width: 355px;
    }
}
.missionBtn {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 2.56px;
    text-transform: uppercase;
    
    text-decoration: none;
    border: 1px solid #ffff;
    box-shadow: 3px 3px 0px 0px #FFFFFF;
    padding: 14px 25px;
    
    color: #FFFFFF;
    
    max-width: 174px;
    margin-bottom: 60px;
}
@media only screen and (min-width: 768px) {
    .missionBtn {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
}

/* @media only screen and (min-width: 768px) {
    .AboutUsAndHistiryWrapper {
        background-image: url(../../images/hands.jpg);
        background-repeat: no-repeat;
        background-size: 140%;
        background-size: contain;
        background-position: right;
        background-attachment: fixed;
     }
} */
@media only screen and (min-width: 1024px) {
    .AboutUsAndHistiryWrapper {
        background-image: url(../../images/hands.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 60px;
    }
}



/**************** swipper **************/
:global(.swiper-button-prev),
:global(.swiper-button-next) {
    color: #3D3934 !important;
}
:global(.swiper-pagination-bullet),
:global(.swiper-pagination-bullet-active){
    background-color: #3D3934 !important;
}
:global(.swiper-button-prev){
    left: 2px;
}
:global(.swiper-button-next) {
    right: 2px;
}
:global(.swiper-pagination){
top: 130px !important;
}

@media only screen and (min-width: 375px) {
    :global(.swiper-pagination) {
            top: 150px !important;
        }
}
@media only screen and (min-width: 768px) {
        :global(.swiper-pagination) {
            top: 315px !important;
            display: flex;
            gap: 20px;
            justify-content: center;
        }    
        :global(.swiper-pagination-bullet) {
            width: 12px !important;
            height: 12px !important;
        }
        :global(.swiper-button-prev),
        :global(.swiper-button-next) {
            font-weight: 600;
        }
}
@media only screen and (min-width: 1024px) {
        :global(.swiper-button-prev) {
            left: 6px;
        }    
        :global(.swiper-button-next) {
            right: 6px;
        }
        :global(.swiper-button-next:after),
        :global(.swiper-button-prev:after){
            font-size: 55px;
        }
        :global(.swiper-pagination){
            top: 517px !important;
        }
        :global(.swiper-pagination-bullet) {
            width: 16px !important;
            height: 16px !important;
            }
}
@media only screen and (min-width: 1440px){
        :global(.swiper-pagination) {
            top: 790px !important;
        }
        :global(.swiper-pagination-bullet) {
            width: 20px !important;
            height: 20px !important;
        }
        :global(.swiper-button-prev) {
            left: 12px;
        }
        
        :global(.swiper-button-next) {
            right: 12px;
        }        
        :global(.swiper-button-next:after),
        :global(.swiper-button-prev:after) {
            font-size: 70px;
        }
}
