.mistakesSection {
    padding-top: 30px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .mistakesSection {
        padding-top: 170px;
    }
}

@media only screen and (min-width: 1024px) {
    .mistakesSection {
        padding-top: 190px;
    }
}
.mistakesArticle {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media only screen and (min-width: 1024px) {
    .mistakesArticle {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .mistakesArticle::after {
        content: "";
        width: 100%;
        border: 1px solid #ebeced;
        margin-bottom: 30px;
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .mistakesArticle::after {
        margin-bottom: 100px;
    }
}
.mistakesImg {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .mistakesImg {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .mistakesImg {
        width: 115%;
    }
}
.mistakesTitle {
    color: #474249;
    font-size: 33px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .mistakesTitle {
        font-size: 40px;
        text-align: left;
    }
}

@media only screen and (min-width: 1024px) {
    .mistakesTitle {
        margin-bottom: 40px;
        font-size: 48px;
    }
}
.mistakesSubtitle {
    color: #423930;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;

    margin-bottom: 20px;
}
 @media only screen and (min-width: 768px) {
    .mistakesSubtitle {
        font-size: 22px;
    }
 }

.mistakesText {
    text-align: justify;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;

    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .mistakesText {
        font-size: 18px;
    }
}
.mistakesList {
    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 18px;
}

@media only screen and (min-width: 1024px) {
    .mistakesList {
        margin-bottom: 100px;
        padding-left: 0;
    }
}
.mistakesItem {
    margin-bottom: 18px;
}

.mistakesItem:last-child {
    margin-bottom: 0;
}
.mistakesListTitle {
    text-align: justify;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
}

@media only screen and (min-width: 768px) {
    .mistakesListTitle {
        font-size: 18px;
    }
}
.mistakesListItemsWrap {
    display: flex;
    gap: 3px;
}
.mistakesTextSpan {
    font-size: 16px;
    font-weight: 600;
}
@media only screen and (min-width: 768px) {
    .mistakesItemWrap {
        display: flex;
    }
}
@media only screen and (min-width: 768px) {
    .mistakesItem {
        flex-shrink: 0;
    }
}
@media only screen and (min-width: 768px) {
    .mistakesListItemImg {
        margin-right: 20px;
        width: 350px;
    }
}

@media only screen and (min-width: 1024px) {
    .mistakesListItemImg {
        width: 500px;
    }
}